/* public/css/fonts.css */
@font-face {
    font-family: 'Excalifont';
    src: url('/fonts/Excalifont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Excalifont', sans-serif;
  }
  